.banner {
  background-image: url('https://images.unsplash.com/photo-1509669803555-fd5edd8d5a41?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  background-size: cover;
  height: 20vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

.banner-white {

}
