.navbar {
  justify-content: space-between;
  background: transparent;
  position: fixed;
  width: 100%;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.navbar .navbar-white {
  flex-grow: 0;
  background: white;
}
